// Variables
$nav-font: 'Roboto Condensed',
'sans-serif';
$body-font: 'Roboto Light',
'sans-serif';
$font:'Roboto Condensed',
sans-serif;
$menu-background: white;
$menu-color: rgb(60, 60, 60);
$dark-blue: rgb(0, 89, 145);
$light-blue: rgb(26, 113, 169);
$search-color: rgb(222, 222, 222);
$grey-box: rgb(233, 233, 233);
$header-bg-color: rgb(249, 249, 249);
$mobile-header-bg-color: rgb(242, 242, 242);
$nav-hover-color: #dfdfdf;
$wrapper-width: 939.11px;
// Media
$mobile-portrait: 450px;
$mobile-landscape: 650px;
$tablet-portrait: 750px;
$tablet-landscape: 1000px;
// Utility Classes
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// Resets
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: $header-bg-color;
    background-image: url('../images/bg.jpg');
}

// Wrapper Column widths
// wr -> 939.11
// col-01 -> 704.63
// col-02 -> 225.04
$site-max-width: 939.11;
.wrapper {
    $width: $site-max-width;
    $col1: (704.63 / $site-max-width) * 100%;
    $col2: (225.04 / $site-max-width) * 100%;
    display: flex;
    justify-content: space-between;
    max-width: $wrapper-width;
    margin: 0 auto;
    padding-top: 20px;
    .col-01 {
        width: $col1;
    }
    .col-02 {
        width: $col2;
    }
}

@media screen and (max-width: $mobile-portrait) {
    .wrapper {
        .col-01 {
            width: 100%;
        }
    }
}

@media screen and (max-width:$tablet-portrait) {
    .wrapper {
        .col-01 {
            width: 100%;
        }
    }
}

@media screen and (max-width: $tablet-landscape) {
    .wrapper {
        margin: 0 30px;
    }
    .col-01 {
        // margin-left: 30px;
    }
}
