header {
    background-color: $header-bg-color;
    .logo-wrapper {
        max-width: $wrapper-width;
        display: flex;
        margin: 0 auto;
        padding: 22.5px 0;
        justify-content: space-between;
        .logo-mobile {
            display: none;
        }
        .menu-mobile {
            display: none;
        }
        
    }
}

@media screen and (max-width: $mobile-portrait) {
    header {
        background-color: $mobile-header-bg-color;
        .logo-wrapper {
            width: 100%;
            padding: 12px;
            border-bottom: 2px solid $dark-blue;
            .show & {
                border-bottom: 1px solid $dark-blue;
            }
            .logo-mobile {
                display: block;
            }
            .logo-desktop {
                display: none;
            }
            .menu-mobile {
                background: url('../images/menu.png');
                background-color: $mobile-header-bg-color;
                width: 35px;
                height: 35px;
                border: none;
                outline: none;
                display: block; 
                cursor: pointer;
            }
            .menu-mobile:hover {
                background-position: 0 -35px;
            }
        }
       
    }
}

@media screen and (max-width: $mobile-landscape) {
    header {
        .logo-wrapper {
        padding: 20px;
        }
        .social-icons {
            display: none;
        }
    }
}

@media screen and (max-width: $tablet-portrait) {
    header {
        .logo-wrapper {
        // padding: 22.5px;
        }
    }
}

@media screen and (max-width: $tablet-landscape) {
    header {
        .logo-wrapper {
        // padding: 22.5px;
        }
    }
}