header {
    background-color: $header-bg-color;
    .logo-wrapper {
        width: $wrapper-width;
        display: flex;
        margin: 0 auto;
        padding: 22.5px 0;
        justify-content: space-between;
        .logo-mobile {
            display: none;
        }
        .menu-mobile {
            display: none;
        }
        
    }
}

@media screen and (max-width: $mobile-portrait) {
    header {
        //height: 60px;
        background-color: $mobile-header-bg-color;
        .logo-wrapper {
            width: 100%;
            padding: 12px;
            .logo-mobile {
                display: block;
            }
            .logo-desktop {
                display: none;
            }
            .menu-mobile {
                background: url('../images/menu.png');
                background-color: $mobile-header-bg-color;
                width: 35px;
                height: 35px;
                border: none;
                outline: none;
                display: block; 
                cursor: pointer;
            }
            .menu-mobile:hover {
                background-position: 0 -35px;
            }
        }
       
    }
}

@media screen and (max-width: $mobile-landscape) {
    
}

@media screen and (max-width: $tablet-portrait) {
   
}

@media screen and (max-width: $tablet-landscape) {
    
}