header {
    background-color: $header-bg-color;
    .logo-wrapper {
        max-width: $wrapper-width;
        display: flex;
        margin: auto;
        padding: 22.5px 0;
        justify-content: space-between;
        .logo-mobile {
            display: none;
        }
        .menu-mobile {
            display: none;
        }
    }
    .top-searchbox {
        display: none;
        input {
            border: none;
            max-width: 180px;
            height: 35px;
            border-radius: 5px;
            box-shadow: inset 0px 0px 10px 1px #b6b6b6;
            background-color: $search-color;
            background-image: url('../images/search.png');
            background-repeat: no-repeat;
            background-position: 95%;
            font-size: 13px;
            padding-left: 8px;
            padding-right: 34px;
            font-weight: 200;
            outline: none;
            &::placeholder {
                color: #b6b6b6;
            }
        }
    }
}

@media screen and (max-width: $tablet-landscape) {
    header {
        .logo-wrapper {
            margin: 0 30px;
        }
    }
}

@media screen and (max-width: $tablet-portrait) {
    header {
        .logo-wrapper {
            margin: 0 20px;
            .logo-desktop {
                margin-right: auto;
            }
        }
        .top-searchbox {
            display: block;
        }
    }
}

@media screen and (max-width: $mobile-landscape) {
    header {
        .logo-wrapper {
            .logo-desktop {
                margin-right: auto;
            }
        }
        .top-searchbox {
            display: flex;
        }
    }
}

@media screen and (max-width: 560px) {
    header {
        background-color: $mobile-header-bg-color;
        .logo-wrapper {
            width: 100%;
            border-bottom: 2px solid $dark-blue;
            margin: 0;
            padding: 23px 0;
            .show & {
                border-bottom: 1px solid $dark-blue;
            }
            .menu-mobile {
                display: block;
                background: url('../images/menu.png');
                background-color: $mobile-header-bg-color;
                width: 35px;
                height: 35px;
                border: none;
                outline: none;
                cursor: pointer;
            }
            .menu-mobile:hover {
                background-position: 0 -35px;
            }
        }
        .top-searchbox {
            display: none;
        }
    }
}

@media screen and (max-width: $mobile-portrait) {
    header {
        background-color: $mobile-header-bg-color;
        .logo-wrapper {
            width: 100%;
            margin: 0;
            padding: 12px 10px;
            border-bottom: 2px solid $dark-blue;
            .logo-mobile {
                display: block;
            }
            .logo-desktop {
                display: none;
            }
            .menu-mobile {
                background: url('../images/menu.png');
                background-color: $mobile-header-bg-color;
                width: 35px;
                height: 35px;
                border: none;
                outline: none;
                display: block;
                cursor: pointer;
            }
            .menu-mobile:hover {
                background-position: 0 -35px;
            }
            .top-searchbox {
                display: none;
            }
        }
    }
}