.menu-pasta,
.menu-ramen{
    background-color:$menu-background;
    padding:20px;
    margin:0;
    margin-bottom:40px;
    margin-top:20px;
    

    h1{
        color: $light-blue;
        font-family: $font;
        font-weight:lighter;
        font-size:32px;
        margin:0;
        padding:0;    
    }
    p{
        color: $menu-color;
        font-family: $font;
        margin:0;
        padding-bottom:20px;
        line-height:24px;
        font-size:15px;
        font-weight:lighter;
    }
    img{
        display:inline-block;
        margin:0;
        padding:0;
        padding-bottom: 15px;
    }
.readmore{
    text-align: right;

    span{
        background-color:$light-blue;
        color:white;
        border:none;
        font-family: $font;
        overflow: auto;
        outline: none;
        width:100px;
        height:27px;
       padding:6px 5px;; 
       cursor: pointer;

    }
}
}
.olderpost{
    margin-bottom:42px;
    background: url('../images/previous_btn.png');
    width:188px;
    height:21px;
    border:none;
    outline:none;
    cursor: pointer;
}
#previousbtn{
    background-position: 0px 0px;
}
#previousbtn:hover{
    background-position: 0px -21px;
}



