nav {
    background-color: $dark-blue;
}

.nav-center {
    $height: 40px;
    display: block;
    margin: 0 auto;
    max-width: $wrapper-width;
    transition: height 0.3s ease;

    >ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        background-color: $light-blue;
        padding-left: 0;
        >li {
            border-bottom: 1px solid $dark-blue;
            height: $height;
            $search-list-item-width: 187px;
            flex: 1;
            &.list-item-search {
                flex: 0 0 $search-list-item-width;
                @media screen and (max-width: $mobile-portrait) {
                    // display: none;
                    // order: 1;
                }
            }
            a {
                display: block;
                width: 100%;
                text-align: center;
                line-height: $height;
                color: #fff;
                text-decoration: none;
                font-family: $nav-font;
                font-size: 17px;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    color: $nav-hover-color;
                }
            }
            &:last-child {
                display: none;
                @media screen and (max-width: $mobile-portrait) {
                    display: block;
                }
            }
        }
    }
    input {
        border: none;
        display: block;
        height: $height;
        width: 100%;
        box-shadow: inset 0px 0px 10px 1px #b6b6b6;
        background-color: $search-color;
        background-image: url('../images/search.png');
        background-repeat: no-repeat;
        background-position: 95%;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 34px;
        font-weight: 200;
        &::placeholder {
            color: #b6b6b6;
        }
    }
    @media screen and (max-width: $mobile-portrait) {
        height: auto;
        display: none;
        >ul {
            display: block;
        }
        li {
            // order: 2;

        }
        li:hover {
            background-color: $menu-background;
            color: $dark-blue;
        }
        &.list-item-search {
            order: 1;
        }
        .social-icons-list {
            order: 3;
        }
        .show & {
            display: block;
        }
        .show .nav-center {
            height: 288px;
        }
    }
}