nav {
    background-color: $dark-blue;
    .nav-center {
        display: flex;
        width: $wrapper-width;
        margin: 0 auto;
        ul {
            height: 40px;
            display: flex;
            list-style: none;
            margin: 0 auto;
            justify-content: space-around;
            width: $wrapper-width;
            align-items: stretch;
            background-color: $light-blue;
            padding-left: 0;
            li {
                align-self: center;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-family: $nav-font;
                    font-size: 17px;
                }
                a:hover {
                    text-decoration: none;
                    color: $nav-hover-color;
                }
            }
        }
        input {
            border: none;
            box-shadow: inset 0px 0px 10px 1px #b6b6b6;
            background-color: $search-color;
            background-image: url('../images/search.png');
            background-repeat: no-repeat;
            background-position: 95%;
            font-size: 13px;
            padding-left: 8px;
            padding-right: 34px;
            font-weight: 200;
        }
         ::placeholder {
            color: #b6b6b6;
        }
    }
}

@media screen and (max-width: $mobile-portrait) {
    nav {
        border-bottom: 2px solid $dark-blue;
        .nav-center {
            display: none;
        }
        input {
            display: none;
        }
    }
}